@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	background-color: #529c3b;
	z-index: 0;
}

p {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.myPage {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 200%;
	letter-spacing: 1px;
}

.bodyText {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.pepeImg {
	z-index: 5;
	display: block;
	margin-left: 2%;
	margin-right: auto;
	border-radius: 5px;

}

.helloPepe_button {
	cursor: pointer;
	color: white;
	background-color: #5ccc5a;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

a {
	color: white;
	text-underline-position: none;
	text-decoration: none;

}
